In [1]:
from utility.get_data import download_and_load_sts_data
sts_dev, sts_test = download_and_load_sts_data()

In [4]:
import pandas as pd 
concatenated_dataset = pd.concat([sts_dev, sts_test], axis=0)
concatenated_dataset

,sent_1,sent_2,sim
0,A man with a hard hat is dancing.,A man wearing a hard hat is dancing.,5.00
1,A young child is riding a horse.,A child is riding a horse.,4.75
2,A man is feeding a mouse to a snake.,The man is feeding a mouse to the snake.,5.00
3,A woman is playing the guitar.,A man is playing guitar.,2.40
4,A woman is playing the flute.,A man is playing a flute.,2.75
...,...,...,...
1374,"Philippines, Canada pledge to further boost re...",Philippines saves 100 after ferry sinks,0.00
1375,Israel bars Palestinians from Jerusalem's Old ...,"Two-state solution between Palestinians, Israe...",1.00
1376,How much do you know about Secret Service?,Lawmakers from both sides express outrage at S...,1.00
1377,Obama Struggles to Soothe Saudi Fears As Iran ...,Myanmar Struggles to Finalize Voter Lists for ...,0.00
1378,South Korea declares end to MERS outbreak,North Korea Delegation Meets With South Korean...,0.00

In [7]:
concatenated_dataset.drop(['sim'],inplace=True, axis=1)
concatenated_dataset

,sent_1,sent_2
0,A man with a hard hat is dancing.,A man wearing a hard hat is dancing.
1,A young child is riding a horse.,A child is riding a horse.
2,A man is feeding a mouse to a snake.,The man is feeding a mouse to the snake.
3,A woman is playing the guitar.,A man is playing guitar.
4,A woman is playing the flute.,A man is playing a flute.
...,...,...
1374,"Philippines, Canada pledge to further boost re...",Philippines saves 100 after ferry sinks
1375,Israel bars Palestinians from Jerusalem's Old ...,"Two-state solution between Palestinians, Israe..."
1376,How much do you know about Secret Service?,Lawmakers from both sides express outrage at S...
1377,Obama Struggles to Soothe Saudi Fears As Iran ...,Myanmar Struggles to Finalize Voter Lists for ...
1378,South Korea declares end to MERS outbreak,North Korea Delegation Meets With South Korean...

In [11]:
new_dataset = pd.concat([concatenated_dataset['sent_1'] ,concatenated_dataset['sent_2']], axis=0)
new_dataset

0                       A man with a hard hat is dancing.
1                        A young child is riding a horse.
2                    A man is feeding a mouse to a snake.
3                          A woman is playing the guitar.
4                           A woman is playing the flute.
                              ...
1374              Philippines saves 100 after ferry sinks
1375    Two-state solution between Palestinians, Israe...
1376    Lawmakers from both sides express outrage at S...
1377    Myanmar Struggles to Finalize Voter Lists for ...
1378    North Korea Delegation Meets With South Korean...
Length: 5758, dtype: object

In [13]:
dataset = new_dataset.reset_index(drop=True)

In [14]:
dataset.to_excel('dataset.xlsx')

## Merging datasets

In [33]:
import pandas as pd
final_df = pd.DataFrame()
df1 = pd.read_excel('bin\synthetised-dataset-37.xlsx')
df2 = pd.read_excel('bin\synthetised-dataset-640.xlsx')
df3 = pd.read_excel('bin\synthetised-dataset-642.xlsx')
df4 = pd.read_excel('bin\synthetised-dataset-854.xlsx')
df5 = pd.read_excel('bin\synthetised-dataset-1916.xlsx')
df6 = pd.read_excel('bin\synthetised-dataset-2369.xlsx')
df7 = pd.read_excel('bin\synthetised-dataset-3005.xlsx')

In [34]:
def copy_rows(df_to, df_from, start_index, end_index):
    # select the rows to copy
    rows_to_copy = df_from.iloc[start_index:end_index+1]
    
    # reset the index
    rows_to_copy = rows_to_copy.reset_index(drop=True)
    
    # concatenate the rows to the df_to dataframe
    df_to = pd.concat([df_to, rows_to_copy], ignore_index=True)
    
    return df_to

In [35]:
final_df =copy_rows(final_df, df1, 0, 37)
final_df = copy_rows(final_df, df2, 38, 640)
final_df = copy_rows(final_df, df3, 641, 642)
final_df = copy_rows(final_df, df4, 643, 854)
final_df = copy_rows(final_df, df5, 855, 1916)
final_df = copy_rows(final_df, df6, 1917, 2369)
final_df = copy_rows(final_df, df7, 2370, 3005)

final_df.shape

(3006, 4)

In [36]:
final_df.shape

(3006, 4)

In [37]:
final_df.to_excel('final-dataset-3005.xlsx')